body{
    background-color: cornflowerblue;
    color: whitesmoke;
    font-size: 25px;


}

h1{
    color: aliceblue;
    text-align: center;
}
.main-header{
    margin: 60px auto;
    border: 3px solid; 
    text-align: center;
    font-size: 100px;
    background-color: black;
}

.sub-header{
    text-align: center;
    color: aliceblue;

}